.heading {
  color: #0099ff;
  margin: 0;
  padding: 0;
  text-align: center;
}

h2 {
  margin: 0;
  padding: 0;
}

ul {
  margin: 0;
  padding: 0;
  color: #262626;
  list-style: none;
}

ul li img {
  width: 100px;
  margin: 0;
  padding: 0;
}